<!DOCTYPE html>
<html lang="en" class="deployment-worked">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>002-fhtagn-character-editor</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but 002-fhtagn-character-editor doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="<%= BASE_URL %>pdfkit.js"> </script>
  </body>
</html>
