#pdf-container {
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
  }
  #sidebar {
    display: none;
  }
  
  #page-container {
    position: relative;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #pdf-container, #pdf-container * {
    visibility: visible;
  }
  #pdf-container {
    position: relative;

    img {
      max-width: 100%;
    }
  }
}
